body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("Images/Capture\ d’écran\ 2022-01-24\ à\ 14.34.37.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link {
    text-decoration: none;
    margin: 0;
}

a#logo {
    position: relative; 
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

img#getImage {
    width: 300px;
    height: 105px;
    
}

.page_categorie p {
    text-align: center;
    color: #d6702c;
    font-size: 50px;
    font-family: Tower Ruins;
}

.etape, .fleche{
    text-align:center ;
}

.ingrédients{
    height: 150px;
    border-radius: 5%;
}

#info{
    color: white;
    position: absolute;
    top: 33%;
    left: 5%;
    width: 290px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bouton1{
    position: absolute;
    background-color: rgba(14, 153, 233, 0.897);
    color: rgb(60, 228, 186);
    border:none;
    height: 70px;
    left: 41%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
}

#bouton2{
    position: absolute;
    background-color: rgba(230, 233, 47, 0.452);
    color: rgb(219, 136, 58);
    border:none;
    height: 30px;
    top: 42%;
    left: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
}

@font-face {
    font-family: "Tower Ruins";
    src: url(towerruins.ttf);
}
