body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Music/music/background_4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a#logo {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 300px;
    left: 42%;
}

img#getImage {
    width: 300px;
    height: 105px;
    height: auto;
}

a:link {
    text-decoration: none;
}

.opening_t {
    text-align: center;
    position: relative;
    font-size: 60px;
    font-family: The Dalmation;
    color: #00BFFF;
    margin-top: 5px;
    margin-bottom: 0px;
}

@font-face {
    font-family: "The Dalmation";
    src: url(Dalmation-Demo.otf);
}