body {
    background-image: url("Images/earth.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
}

#navigation{
    position:absolute;
    top: 70%;
    text-align: center;
    position: absolute;
    color: white;
    width: 350px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}
#title{
    display: flex;
    justify-content: center;
    color: #3cc059;
    font-size: 60px;
    font-family: Tower Ruins;
    margin-bottom: 0px;
    margin-top: 20px;
}
#cursor{
    content: url("Images/cursor.png");
    position: fixed;
    pointer-events: none;
    height: 40px;
    z-index: 999999;
    
}
#hand{
    content: url("Images/hand.png");
    position: fixed;
    pointer-events: none; 
    visibility: hidden;
    height: 40px;
    z-index: 999999;
}

#pointer {
    width: .8vmax;
    height: .8vmax;
    position: fixed;
    border: 1px groove rgb(106, 195, 255);
    border-radius: 50%;
    animation: pointer .5s;
    display: none;
    z-index: 9999;
}
  
@keyframes pointer {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}  

a:-webkit-any-link {
    color: #0073ff;
}

a#logo {
    position: relative; 
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

img#getImage {
    width: 300px;
    height: 105px;
    
}

div {
    text-align: center;
}

a:link {
    text-decoration: none;
    cursor: none;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.icon img {
    border-radius: 20%;
}

.zoom {
    transition: transform .4s;
    margin: 0px;
}

.zoom:hover {
    transform: scale(1.2);
    cursor: none;

}

#logo {
    display: flex;
    justify-content: center;
}

div.categorie p {
    color: #40E0D0;
    font-size: 40px;
    font-family: Tower Ruins;
    margin-bottom: 0px;
    margin-top: 20px;
}

.page_categorie {
    text-align: center;
}

.arrow{
    height: 35px;
}
#aligner{
    display: flex;
    flex-direction: column;
    width: 250px;
}

#ost{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 6% 6% 0;
    background-color: rgba(84, 217, 226, 0.824);
    font-family: Tower Ruins;
    font-size: 25px; 
    visibility: hidden;
    
}

#op{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 6% 6% 0;
    background-color: rgba(84, 217, 226, 0.824);
    font-family: Tower Ruins;
    font-size: 25px; 
    visibility: hidden;
}

#ed{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 6% 6% 0;
    background-color: rgba(84, 217, 226, 0.824);
    font-family: Tower Ruins;
    font-size: 25px; 
    visibility: hidden;
}
.aligner2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 450px;
}

#musique a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#musique {
    display: flex;
    flex-direction: column;
    border-radius: 5% 0 0 5%;
    background-color: rgba(84, 217, 226, 0.824);
    color: #40e095;
    font-family: Tower Ruins;
    font-size: 25px;
    visibility: hidden;
    width: 200px;
}

#inventions{
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: rgba(84, 217, 226, 0.824);
    color: #40e095;
    font-family: Tower Ruins;
    font-size: 25px;
    visibility: hidden;
}

.ligne{
    position: relative;
    background-color: rgba(78, 158, 211, 0.789);
    width: 100%;
    height: 5px;
    z-index: 99;
}

.ligne2{
    position: relative;
    background-color: rgba(78, 158, 211, 0.789);
    width: 100%;
    height: 5px;
    z-index: 99;
    visibility: hidden;
}

@font-face {
    font-family: "The Dalmation";
    src: url(Dalmation-Demo.otf);
}

@font-face {
    font-family: "Tower Ruins";
    src: url(towerruins.ttf);
}

